*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   
}

/* Body */
body{
    background-color: #fff2df;
}

/*.section{
    padding: 1rem 5%;
    min-height: 100vh;
 
}*/

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#674d3c;
    color: #fff2df;
    position: relative;
    height: 100px;
    top: 0px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    display: inline-block;
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff2df;
    padding: 8px 20px;
    transition: all 0.3s ease;
}
.navbar ul li a:hover{
    background-color: #fff2df;
    color: #674d3c;
    box-shadow:  #d9ad7c;
}

/* Home */
.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}
.img-box{ 
    flex: 1 1 30rem;
    margin-top: 5rem;
}
.img-box img{
    width: 70%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: -3rem;
    margin-left: 6rem;
    border-style: solid;
    border-color: #4f3222;
    filter: grayscale(0);
    transition: filter 0.5s;
}
.img-box img:hover{
    filter:grayscale(1);
}
.info{
    flex: 1 1 40rem;
    font-family: century;
    color: #4b2816;
    font-size: 20px;
    padding: 5rem 0;
    margin-top: -2.5rem;
    margin-left: 1.5rem ;
    text-transform: none;
}
.info .intro{
   text-align: center;
   font-size: 1.2rem;
   padding: .5rem 0;

}
.info .quote{
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem 0;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    margin-top: 2rem;
    margin-left: 1.2rem;
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}
.icon-inner{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
}
.social-icon i{
    position: relative;
    margin-top: .5rem;
    margin-left: 1.5rem;
    transition: 0.5s;
    font-size: 35px;
    z-index: 1;
}
.social-media a{
    font-size: 35px;
    color: #d9ad7c;

}
.social-media a:hover{
    color: #4f3222;
    transition: all 0.3s ease out;
}


/* About Page */
#about{
    display:flex;
    flex-direction: column;
    background-color: #fff2df;
    color: #674d3c;
    padding: 10px;
    margin-bottom: 60px ;
    text-align: center;
    
}
.headings{
    font-size: 50px;
    font-family: century;
    font-weight: bold;
    margin-top: 0px;
}

.img1{
    object-position:  100%;
    left: 100%;
    right: 100%; 
    margin: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: #674d3c;
    width: 400px;
    height: 400px;
}
#intro h2{
    font-family: century;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin: 10px;
    text-align: center;
  
}

#intro{
    font-family: century;
    font-size: 1.3rem;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
}
.icons{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.icons a{
   font-size: 35px;
   color: #4f3222;
   padding: 5px;
   margin-left: 5px;
}
.icons a:hover{
    color: #d9ad7c;
    transition: all 0.3s ease-out ;
}


/* Skill Page */
h1{
    font-family: Century;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #4f3222;
    margin-bottom: 20px;
    padding-top: 20px;
}
h3{
    font-family: century;
    font-size: 20px;
    margin: 5px;
    color: #4b2816;
    list-style: none;
}
.skills{
    line-height: 2.5em;
    margin: 60px auto;
    width: 70%;
    padding: 20px;
    color: #a2836e;
    box-shadow: 0 14px 28px #a2836e;
}
.bar{
    background-color:#fff2df;
    display: block; 
    height: 40%;
    width: 90%;
    border: 2px solid #4f3222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #a2836e;
}
.bar span{
    height: 6px;
    float: left; 
    background-color: #d9ad7c;
}
.filipino{
    width: 95%;
    animation: c 3s;
}
.eng{
    width: 70%;
    animation: c 3s;
}
.thai{
    width: 50%;
    animation: c 3s;
}
.c{
    width: 60%;
    animation: c 3s;
}
.html{
    width: 70%;
    animation: c 3s;
}
.css{
    width: 50%;
    animation: c 3s;
}
.python{
    width: 5%;
    animation: c 3s;
}
.vfp{
    width: 70%;
    animation: c 3s;
}
.rn{
    width: 20%;
    animation: c 3s;
}
.java{
    width: 5%;
    animation: c 3s;
}


/* Project Page */
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: century;  
}
.gallery{
    height: 70%;
    width: 70%;
    display: flex;
    margin: 4% auto 0;
    box-sizing: border-box; 
}
.image-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}
.image-box img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: .5s;
}
.image-box:hover{
    flex-basis: 50%;
}
.active{
    flex-basis: 50%;
}
.gallery:hover .active{
    flex-basis: 0;
}
.image-box:nth-child(1):hover{
    flex-basis: 50%;
}
.explanation{
    position: static;
    font-family: century;
    font-size: 20px;
    text-align: center;
}
.explanation h3{
  margin-top: 5rem;
}

/* Contact */
.content{
  position: relative;
  min-height: 100vh;
  padding: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .contact-form{
    max-width: 700px;
    margin-top: -5rem;
    text-align: center;
}
.content .contact-form h2{
    font-size: 36px;
    font-weight: bold;
    color: #4b2816;
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 10px;
}
.contact-section .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.contact-section .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-section .contact-info .box .gif{
    min-width: 60px;
    height: 60px;
    background: #d9ad7c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact-section .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #4f3222;
    flex-direction: column;
    font-weight: 300;
}
.contact-section .contact-info .box .text h3{
    font-weight: 700;
    color: #4b2816;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #FFEBCD;
  
}
.contactform h2{
    font-size: 30px;
    color: #4b2816;
    font-weight: 700;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   background: #FFEBCD;
   border: none;
   border-bottom: 2px solid #674d3c;
   outline: none;
   resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
    color: #a2836e;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #674d3c;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #FFE4B5;
    color: #4b2816;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactform .inputbox input[type="submit"]:hover{
    cursor: pointer;
    box-shadow:  0 0 10px #4b2816;
}
footer {
    margin-top: .3rem;
    font-size: 1rem;
    margin-left: 4rem;
    padding: 1.5rem;
    text-align: center;
    color: #a2836e;
    text-transform: none;
    word-spacing: 2px;
}


/*Contact Query*/
@media (max-width: 600px){
    .content{
        padding: 50px;
          margin-top: 3.5rem;
    }
    .contact-form{
        height: 1rem;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-section .contact-info{
        margin-bottom: 40px;
    }
    .contact-section .contact-info,
    .contactform
    {
        width: 100%;
    }
}


